body,html{
    width: 100%;
    margin: 0%;
    overflow-x: hidden;
    height: 100%;
}
body{
    background-image: url("/static/images/bg.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 75%;
    display: flex;
    flex-direction: row;
}
.account{
    margin: auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.account button{
    width: 240px;
    color: gray;
    background-color: white;
    border: 1px solid gray;
    transition: 0.5s;
}
.account button:hover{
    background-color: rgb(232, 52, 54);
    color: white;
    border: 0cqb;
}
h1{
    font-weight: 800;
    font-size:35px;
    color: rgb(51, 43, 43);
    text-transform: capitalize;
}
.middle{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    float: right;
    background-color: transparent;
    box-sizing: border-box;
    margin: auto;
}
.login-wall,.login-wall2{
    width:425px;
    height:fit-content;
    background-color: white;
    border-radius: 4px;
    margin: auto;
    border: 0px;
    text-align: center;
}
.login-wall2{
    margin-top: 0%;
}
.loginsucess{
    width: 325px;
    height: fit-content;
    background-color: rgba(0, 128, 0, 0.425);
    border-left: 3px solid green;
    padding: 12.5px;
    margin:  25px auto;
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 61, 0);
    text-transform: capitalize;
    font-size: medium;
    border-radius: 5px;
}
.error{
    width: 325px;
    height: fit-content;
    background-color: rgba(255, 0, 0, 0.473);
    border-left: 3px solid red;
    padding: 12.5px;
    margin:  25px auto;
    font-family: 'Poppins', sans-serif;
    color: rgb(138, 1, 1);
    text-transform: capitalize;
    font-size: medium;
    border-radius: 5px;
}
img{
    width: 75%;
    height: fit-content;
    margin: 35px auto;
}
.img{
    width: 100px;
    margin-bottom: 25px;
}

h4{
    font-family: 'Poppins', sans-serif;
    margin: 25px 0px;
    margin-top: -15px;
    font-size: small;
    font-weight: 300;
    text-transform: capitalize;
}
hr{
    border: 0ch;
    border-top: 1px dashed rgb(112, 112, 112);
    margin:30px;
    margin-top: 0px;
}
form{
    display: flex;
    flex-direction: column;
    text-align: left;
    box-sizing: border-box;
    margin-left: 25px;
    margin-right: 25px;
    overflow: hidden;
    overflow-x: hidden;
    scrollbar-width: 0px;
}
input,button{
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    border: 1px solid grey;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 12px;
}
input:focus{
    border:1px solid red;
    outline: 0;
}
button{
    margin-top:16px ;
    
}
p{
    margin-bottom: 5px;
    font-size: medium;
    font-family: 'Poppins', sans-serif;
    color: rgb(27, 27, 27);
}
span{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin: 25px auto;
    font-size: 15px;
    display: flex;
    flex-direction: row;
}
a{
    text-decoration: none;
    color: red;
}
a:hover{
    text-decoration: underline;
}
.or{
    text-align: center;
    color: #989eb9;
    text-transform: uppercase;
    font-size: large;
    margin: 0px;
}
.log-in, .google{
    background-color: rgb(232, 52, 54);
    color: white;
    border: 0ch;
    margin-bottom: 12.5px;
    margin-top: 12.5px;
}
.google{
    margin-bottom: 0px;
    overflow: hidden;
    text-transform: capitalize;
    background-color:  #4285f4;
}
.google img{
    width: 30px;
    height:fit-content;
    margin: 0px;
    float: left;
    background-color: #0051d4;
    margin: -12.5px;
    padding: 10.5px;
    margin-right: -30px;
}
.forgot{
    background-color: white;
    color: rgb(232, 52, 54);
    border: 0cm;
    margin-bottom: 25px;
}
.forgot:hover{
    text-decoration: underline;
}
.line{
    margin: 0px;
}
.load{
    width: 30px;
    margin: 0cap;
    margin-top: 0px;
    animation: loading 1.5s linear infinite;
    transition: none;
    content: url('/static/images/load.png');
    opacity: 0.8;
}
@keyframes loading {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
@media only screen and (max-width:700px){
    body{
        flex-direction: column;
    }
    .middle{
        flex-direction: column;
        margin: auto;
        width: fit-content;
        float: none;
        height: fit-content;
    }
    .login-wall{
        margin-top: 25px;
    }
    h1{
        font-size: xx-large;
    }
    .middle{
        position: relative;
    }
    .account button{
        margin-bottom: 25px;
    }
    .img{
        width: 75px;
        margin-bottom: 0px;
    }
}
@media screen and (max-width:420px){
    .login-wall{
        width: 100vw;
    }
    .login-wall2{
        width: 100vw;
    }
    #error{
        width: 80vw;
    }
    .loginsucess{
        width: 80vw;
    }
}