.background{
    width: 100vw;
    height: 100vh;
    position: absolute;
    backdrop-filter: blur(5px);
    z-index: 44;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}
.loginoption{
    width: 760px;
    height: fit-content;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    border-top: 3px solid red;
    box-sizing: border-box;
    padding: 15px;
    overflow: hidden;
    scroll-behavior: smooth;
}
.opt1,.opt2{
    width: 750px;
    height:fit-content;
    position: relative;
    padding: 25px;
    padding-top:10px;
}

.z{
    display: flex;
    flex-direction: row;
    width: 1500px;
    position: relative;
}
.optionhead{
    height: fit-content;
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-size: smaller;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    text-transform: capitalize;
    color: gray;
    margin-bottom: 10px;
    position: relative;
}
.optionhead img{
    width: 25px;
    height: fit-content;
    margin: 0%;
    float: right;
}
#back{
    background-color: transparent;
    height: fit-content;
    width: fit-content;
    border: 1px solid white;
    color: black;
    margin: 0px;
    padding: 0px;
    padding-right: 12px;
}
#back i{
    color: black !important;
    margin: 0px;
    font-size: 30px;
}
.heading{
    font-size: xx-large;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    text-transform: capitalize;
}
.subheading{
    font-size: small;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    text-transform: capitalize;
    color: grey;
}
.order{
    display: flex;
    margin: 25px 0px;
}
.opt{
    width: 45%;
    height: 75px;
    background-color: white;
    box-shadow: 1px 1px 5px rgb(165, 165, 165);
    border: 3px solid white;
    margin: auto;
    display: flex;
    border-radius: 10px;
    transition: 0.5s;
    overflow: hidden;
}
.im{
    width: 175px;
    height: fit-content;
    margin: auto;
    margin-left: 10px;
}
.opt:focus{
    border: 3px solid red;
}
.opttype{
    font-size: large;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    margin: auto 25px;
    margin-right: 0ch;
    text-align: left;
}
.opttype div{
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    text-transform: capitalize;
    color: gray;
}
.subcan{
    display: flex;
    float: right;
}
.cancel,.go{
    width: 100px;
    height: fit-content;
    font-size: medium;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    color: rgb(232, 52, 54);
    margin: 0px 10px;
    background-color: transparent;
    border: 1px solid white;
}
.go{
    background-color: rgb(232, 52, 54);
    border-radius: 5px;
    color: white;
}
.cancel:hover{
    text-decoration: underline;
}
i{
    color:rgb(232, 52, 54) ;
    margin: auto 0px;
}
@media screen and (max-width:700px){
    .loginoption{
        width: 90%;
        padding: 0;
    }
    .z{
        width: 200%;
        padding: 0;
    }
    .opt1,.opt2{
        width: 130%;
        text-align: center;
        padding: 15px 10px;
    }
    .optionhead{
        width:100%;
        text-align: left;
        padding-bottom: 25px;
        margin-bottom: 0px;
    }
    .order{
        flex-direction: column;
        margin: auto;
        margin-top: 12.5px;
        margin-bottom: 0cap;
    }
    .heading{
        font-size: x-large;
    }
    .opt{
        width: 90%;
        margin: 12.5px 5%;
    }
    .subcan{
        float: left;
        display: inline;
        width: 100%;
        margin-top: 12.5px;
    }
    .cancel{
        float: left;
        width: fit-content;
    }
    .go{
        float: right;
    }
    #back i{
        font-size: 25px;
    }
}
@media screen and (max-width:300px) {
    .opttype{
        font-size: medium;
    }
    .opttype div{
        display: none;
    }
}