<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <meta name="viewport" content="width = device-width, intial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap" rel="stylesheet">  
    </head>
    <body>
        <header>
            <img src="/static/logo.png">
            <div class="option">
                <a href="/login">Log-in</a>
                <a href="/signup">Get Started</a>
            </div>
        </header>
        <div class="account">
            <img class="img" src="/static/logo2.png">
            <h1>Get Started in your Bussiness journey<br> today with algotrading</h1>
            <h4 style="font-size: medium;">The best Business platform</h4>
        </div>
    </body>
</html>