<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
        <meta name="viewport" content="width = device-width, intial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap" rel="stylesheet">  
    </head>
    <body>
        <header>
            <img src="/static/images/logo.png">
            <button class="ham" onclick="ham()"> &#9776;  </button>
            <div class="option" id="option">
                <a href="/login">Log-in</a>
                <a href="/signup">Get Started</a>
            </div>
        </header>
        <div class="account">
            <img class="img" src="/static/images/logo2.png">
            <h1>Get Started in your Bussiness journey<br> today with algotrading</h1>
            <h4 style="font-size: medium;">The best Business platform</h4>
        </div>
        <script>
            function ham(){
                var opt=document.getElementById("option");

                if(opt.style.height=="100px"){
                    opt.style.height="0px"
                }
                else{
                    opt.style.height="100px"
                }
            }
        </script>
    </body>
</html>