<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/static/loginsignup.css">
  <link rel="stylesheet" href="/static/selectoption.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/140e17f580.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <div class="background" id="background">
    <div class="loginoption" id="loginoption">
      <div class="z">
      <div class="opt1">
        <div class="optionhead">step 1/2 <img src="/static/logo2.png"></div>
      <div class="heading">which method of trading you prefer?</div>
      <div class="subheading">Choose your trading method</div>
      <div class="order">
        <button class="opt" onclick="detect(0,'next')">
          <i class="fa-solid fa-chart-line fa-2x"></i>
          <div class="opttype">algo-trading<div>the best algorithm in the market</div></div>
        </button> 
        <button class="opt" onclick="detect(1,'next')">
          <i class="fa-solid fa-chalkboard-user fa-2x"></i>
          <div class="opttype">copy-trading<div>copy from successful traders</div></div>
        </button>
      </div>
      <div class="subcan"><button class="cancel" onclick="cancel('none')">cancel</button>
        <button class="go" id="next" disabled onclick="scrollin(2000)">next</button></div>
    </div>
    <div class="opt2">
      <div class="optionhead">step 2/2 <img src="/static/logo2.png"></div>
      <div class="heading"><button id="back" onclick="scrollin(0)">
      <i class="fa-solid fa-chevron-left"></i></button>which trading broker do you prefer?</div>
      <div class="subheading">Choose your trading broker</div>
      <div class="order">
        <button class="opt" onclick="detect(2,'submit')">
          <img src="/static/zerod.png" class="im">
        </button> 
        <button class="opt" onclick="detect(3,'submit')">
          <img src="/static/shonya.png" class="im">
        </button>
      </div>
      <div class="subcan"><button class="cancel" onclick="cancel('none')">cancel</button>
        <button class="go" disabled id="submit">submit</button></div>
    </div>
    </div>
    </div>
  </div>
  <div class="middle">
    <div class="account">
      <h1>Don’t Have an <br>Account?</h1>
      <button onclick="location.href='/signup'">Create a free account</button>
    </div>
  </div>
  <div class="middle">
    <div class="login-wall">
      <img src="/static/logo.png">
      <h4>The best algotrading platform</h4>
      <hr>
      <p id="error" style="color:red"></p>
      <form id="loginForm">
        <p>Email Address Or Mobile Number</p>
        <input type="email" id="email" placeholder="example@gmail.com">
        <p>Password</p>
        <input type="password" id="password" placeholder="*****">
        <button type="submit" class="log-in" onclick="cancel('flex')">Log in</button>
      </form>
      <button class="forgot" onclick="window.location='/forgot_password'">Forgot password?</button>

    </div>
  </div>
  <script>
    function scrollin(widt){
      document.getElementById('loginoption').scrollLeft=widt;
    }
    function cancel(inpu){
      document.getElementById('background').style.display=inpu;
    }
    function detect(x,elemid){
      let opt=document.querySelectorAll(".opt");
      let i=0;

      document.getElementById(elemid).disabled=false;
      if(x==0||x==1){
        for (i=0;i<2;i++){
          opt[i].style.border="3px solid white";
        }
        opt[x].style.border="3px solid red";
      }
      if(x==2||x==3){
        for (i=2;i<4;i++){
          opt[i].style.border="3px solid white";
        }
        opt[x].style.border="3px solid red";
      }
    }
    $(document).ready(function() {
      $('#loginForm').submit(function(e) {
        e.preventDefault();
        
        var email = $('#email').val();
        var password = $('#password').val();
        
        login(email, password);
      });
    });
    
    function login(email, password) {
      $.ajax({
        url: "/login",
        method: "POST",
        data: { email: email, password: password },
        success: function(response) {
          $("#error").text(response).css("color", "green");

          console.log('Success:', response);
          window.location.href = '/dashboard';
          },
        error: function(xhr, textStatus, errorThrown) {
          var errorMessage = xhr.responseText;
          console.log(errorMessage);
          $("#error").text(errorMessage);
          }
      });
    }
  </script>

</body>
</html>
