<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/otp.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap" rel="stylesheet"> 
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>OTP Verification</h1>
        <p>Enter Verification code below</p>
        <p id="error" style="color:red"></p>
        <div id="otpInputsContainer">
            <input type="text" id="1" maxlength="1" class="otp-input">
            <input type="text" id="2" maxlength="1" class="otp-input">
            <input type="text" id="3" maxlength="1" class="otp-input">
            <input type="text" id="4" maxlength="1" class="otp-input">
            <input type="text" id="5" maxlength="1" class="otp-input">
            <input type="text" id="6" maxlength="1" class="otp-input">
        </div>
        <button class="Verify">Verify</button>
        <button class="resend">Re-Send</button>
    </div>
    <script>
        $(document).ready(function() {
          initializeOTPVerification();

          $('.Verify').click(function() {
            var otp = '';
            $('.otp-input').each(function() {
              otp += $(this).val();
            });

            submitOTP(otp);
          });
        });

        function initializeOTPVerification() {
            $(document).on('keyup', '.otp-input', function(e) {
                var key = e.keyCode || e.which;
                if (key === 8) {
                    var prevId = parseInt($(this).attr('id')) - 1;
                    if (prevId >= 1) {
                        $('#' + prevId).focus();
                    }
                } else {
                    var nextId = parseInt($(this).attr('id')) + 1;
                    if (nextId <= 6) {
                        $('#' + nextId).focus();
                    }
                }
            });
        }
        function submitOTP(otp) {
          $.ajax({
            url: "/otp",
            method: "POST",
            data: { otp: otp },
            success: function(response) {
                $("#error").text(response).css("color", "green");

                console.log('Success:', response);
                window.location.href = '/dashboard';
            },
            error: function(xhr, textStatus, errorThrown) {
                var errorMessage = xhr.responseText;
                console.log(errorMessage);
                $("#error").text(errorMessage);
            }
          });
        }
    </script>
</body>
</html>
