<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/loginsignup.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body style="display: block;">
    <div class="middle2" style="float: left;">
        <div class="account">
            <img class="img" src="/static/logo2.png">
            <h1>We have confirmed that this account belongs to you.</h1>
            <h4 style="font-size: medium;">Let's update your new password</h4>
        </div>
    </div>
    <div class="middle">
        <div class="login-wall2">
            <img src="/static/logo.png">
            <hr>
            <p style="color:red" id="error"></p>
            <form id="signup-form">
                <p>Password</p>
                <input type="password" id="password" placeholder="Enter Password">
                <p>Confirm Password</p>
                <input type="password" id="confirm-password" placeholder="Re-Enter Password">
                <button type="submit" class="log-in">Change Password</button>

            </form>
        </div>
    </div>

    <script src="/static/pasword_reset.js">
        
    </script>
</body>
</html>
